@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --bg-color: black;
  --text-color: hsl(210, 10%, 62%);
  --link-color: darkcyan;
  --header-hover-bg: rgb(0,33,71);
  --dark-mode-button: white;
  --friends-background: #333333;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2%
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  float: left;
  display: block;
  color: var(--link-color);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

header a {
  display: inline-block;
  width: auto;
  height: 0;
  text-decoration: none;
  color: var(--link-color);
}

header ul li:hover {
  background-color: var(--header-hover-bg);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
}

.icon {
  padding: 0.01%;
  border: 5px solid #00c0ff;
  border-radius: 5px;
  background-color: #00c0ff;
}

.quick-links {
  margin: 0 0.1%;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.friends {
  float: right;
  right: 8px;
  background-color: var(--friends-background);
  border: 10px solid var(--friends-background);
  border-radius: 5px;
  height: 40px;
  width: auto;
}

.friends-icon {
  margin: 0.5%;
  display: inline-block;
  border-radius: 5px;
}

#dark-mode-toggle {
  cursor: pointer;
  float: right;
  margin: 10px;
  margin-left: 20px;
  border: 5px solid var(--dark-mode-button);
  border-radius: 5px;
  background-color: var(--dark-mode-button);
}