@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #050406;
  --foreground: oklch(70.8% 0 0);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navbar-link-background: rgb(0,33,71);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pixelify Sans", sans-serif;
}